@import url(barra_nav_2.css);
@import url(footer.css);

@font-face{
    font-family: Josefin_Reg;
    src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}



          

.planes_content {
          display: flex;
          flex-direction: column;
          font-family: josefin_reg;
          position: relative;
          width: 90%;
          height: auto;
          min-width: 1000px;
          margin: auto;
          padding: 20px 15px;
          box-shadow: 0px 10px 15px #d1cfcd;
          margin-bottom: 30px;
}


.planes_content p {
          float: left;
          text-indent: 5px;
          color: #555555;
          
}

.cabeceraplanes {
          position: relative;
          float: left;
          height: auto;
          width: 60%;
          margin: 15px 0px;
          
          
}

.cabeceraplanes img{
          position:relative;
          float: left;
          overflow: hidden;
          width: 5px;
          height: 25px;
}
.cabeceraplanes h1 {
          font-size: 30px;
          position: relative;
          float: left;
          margin-left: 5px;
          font-family: josefin_reg;
}
.planes_content article {
          position: relative;
          float: left;
          width: 60%;
          margin-top: auto;
          
}

.planes_content .boxplanes {
          position: absolute;
          right: 5%;
          margin-top: 10%;
          
}
.boxplanes img{
          margin-top: 5%;
          margin-left:15px;
          
}

.contentuno {
          position: relative;
          float: left;
          width: 90%;
          height: 100%;
          margin: auto;
          margin-top:10%;          
}
.last {
          margin-bottom: 5px;
}

