@import url(footer.css);
@import url(../img/ico/style.css);
@font-face {
  font-family: Josefin_Reg;
  src: url(../../fonts/Josefin_Sans/JosefinSans-Regular.ttf); }

@font-face {
  font-family: Lakki_Reg;
  src: url(../../fonts/Lakki_Reddy/LakkiReddy.ttf); }

@font-face {
  font-family: HandSign;
  src: url(../fonts/Hand/HandSign.ttf); }

@font-face {
  font-family: American;
  src: url(../../fonts/American/american.ttf); }
//
* {
  padding: 0;
  margin: 0;
  font-family:american;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  max-width: 1366px;
  min-width: 1000px; }
  body .wrap {
    margin: auto;
    height: auto;
    width: 100%;
    /*-webkit-box-shadow: 10px 30px 50px #d1cfcd;*/
    /*box-shadow: 10px 30px 50px #d1cfcd; */}
    body .wrap a {
      text-decoration: none; }
      body .wrap a h1:hover {
        color: orangered; }
    body .wrap .banner1 {
      width: 100%;
      height: 5px;
      background-color: #1fa4f8; }
    body .wrap .banner2 {
      width: 100%;
      height: 5px;
      background-color: #f8f11f; }
    body .wrap header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      height: 65px;
      background: #323232;
      margin-top: 1px;
      margin-bottom: 1px; }
      body .wrap header .logo__escuela {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 70px; }
        body .wrap header .logo__escuela img {
          position: relative;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 55px;
          margin: auto; }
      body .wrap header .membrete {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-item: column;
        padding-left: 20px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        width: 500px; }
        body .wrap header .membrete h1 {
          font-family: josefin_reg;
          color: #fffd3c;
          font-weight: 300;
          margin-top: 5px; }
          body .wrap header .membrete h1 span {
            color: #46abfa; }
        body .wrap header .membrete h2 {
          font-family: josefin_reg;
          font-size: 16px;
          color: white;
          font-weight: 300; }
      body .wrap header nav.menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        margin-left: 1px;
        top: 40;
        right: 10%;
        font-family: josefin_reg;
        height: 100px;
        padding: 0; }
        body .wrap header nav.menu ul {
          list-style: none;
          margin-top: 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          body .wrap header nav.menu ul li {
            display: block;
            padding: 5px 5px; }
            body .wrap header nav.menu ul li a {
              text-decoration: none;
              font-size: 20px;
              color: #46abfa; }
              body .wrap header nav.menu ul li a span {
                color: #fffd3c; }
                body .wrap header nav.menu ul li a span:hover {
                  color: orangered; }
              body .wrap header nav.menu ul li a:hover {
                color: orangered; }
/* aqui empiezo yo.*/ 
/*Administracion*/

//index-admin

    .admin {
        display:flex;
        width:60%;
        margin:auto;

        flex-direction:column;
        font-family:american;
        h1{
          font-size:30px;
          margin:10px 10px;
        }
        h2{
          font-size:20px;
          margin:10px 10px;
        }
        li{
          font-size:14px;
        }
    }


/*Noticias*/

        .cab_big_size{
                    width:80%;
                    margin:auto;
                    margin-top:20px;
                    margin-bottom:40px;     
                    h1 {
                    font-size: 80px;
                    margin: 10px 2px;
                    color:#c1c1c1; }
                      
                }
        #cabecera_noticias  {
                display: flex;
                margin:auto;
                width: 80%;
                margin:auto;
                margin-bottom:10px;

  
              
              h1 {
                margin-top: 30px;
                font-family: american;   
                font-size:30px;
              }
            }  
         
        .tabla_noticia {
                display:flex;
                width:80%;
                align-items: center;
                margin-top: 30px;
                margin:auto;
                .primera_fila {
                font-family: American;
                color:orange;
                font-size:20px;
                text-align: center;
                }
                .blank {
                border: 1px solid #c2c2c2;
                }
                .bot{
                text-align: left;
                }
              }

      


/*Formulario de Noticias*/

      #wrap_form_not {
        display:flex;
        width:100%;
        margin:auto;
        font-family: american;
        flex-direction: column;
        
        background-color: #fafafa;
        .cab_big_size{
          width:80%;
          margin:auto;     
          h1 {
          font-size: 80px;
          margin: 10px 2px;
          color:#c1c1c1; }

        }
        h1 {
        font-size: 40px;
        margin: 10px 2px;
        color:#c1c1c1; }
        h3 {
        font-size: 14px;}
        table {
        width: 80%;
        margin:auto;
        margin-top: 20px;
        background-color: #fafafa;
        border:0;}
        tr{
          border:0;
        }
        td {
        border:0;
        text-align: left;
        } 
        .celda_uno{
        width:150px;
        }
        .celda_dos{
        width:250px;
          img{ 
              margin-top:10px;
              margin-bottom:10px;
              width: 30%;
            }
        } 
        .form_not_cabecera {
        width: 80%;
        margin:auto;
        background-color: #fafafa;
          h1 {
          font-family: American;
          color: #323232;
          margin-top:20px;
          font-size:40px;
          }
          h2 {
          font-family: american;
          color: #323232;
          font-size:14px;
          margin-top:20px;
          }
        }
        .registro_satisf{
          width:100%;
          background-color:green;
          h2{
            color:#f2f2f2;
            font-weight:100;
            text-align:center;
          }
        } 
        .registro_volver{
            width:100%;
            background-color:green;
            margin-top:20px;


            a{
              color:#f2f2f2;
              font-weight:100;
              text-align:center;
              text-decoration:none;
              &:hover{
                color:#fff;
              }

            }
        }
        .celda_uno{
        text-align: left;
        } //<--- aqui va el fin del ultimo registro


      }//<----aqui va el fin de #wrap form not
      




// formulario INSERT.PHP


  .insert_cabeza{
    display:flex;
    width:80%;
    margin:auto;
    margin-top: 10px;
    margin-bottom:30px;
    flex-direction:column;
    h1{
      font-size: 50px;
    }
  }
  

  .img_insert_noticias_cab{
  display:flex;
  width:80%;
  margin:auto;
  flex-direction:column; 
  }
  
  .img_insert_noticias{

    display:flex;
    width:80%;
    margin:auto;
    margin-top: 30px;
    margin-bottom:50px;

    
  .insert_foto_columna_uno{
    width:50%;
    align-item:center;
  }
  .insert_foto_columna_dos{
    width:50%;
    align-item:center;
  }


      .img__input{
      display:flex;
      align-items:center;
      justify-content:left;
      width:100%;
      margin-top: 5px;
      margin-bottom: 5px;

      #archivos{
      display:none;
      }

      #archivos1{
     display:none;
      }
      #archivos2{
     display:none;
      }
      #archivos3{
     display:none;
      }
      #archivos4{
     display:none;
      }
      #archivos5{
     display:none;
      }
      #archivos6{
     display:none;
      }
      #archivos7{
     display:none;
      }
        .cuadrado_insert1{
         display:flex;
         width:100px;
         height:50px;
         align-items:center;
         justify-content:center;
         position:relative;
         background-color:orange;
         font-size:12px;
         border-radius:12px;
         cursor:pointer;
         margin:10px 10px;
         color:#f3f3f3;
           &:hover{
           display:flex;
           align-items:center;
           justify-content:center;
           width:100px;
           height:50px;
           position:relative;
           background-color:orangered;
           font-size:12px;
           border-radius:12px;
           cursor:pointer;
           margin:10px 10px;
           color:#f3f3f3;
           box-shadow:2px 2px #c1c1c1;
           } 
         }


        .cuadrado_insert2{
         display:flex;
         align-items:center;
         justify-content:center;
         width:100px;
         height:50px;
         position:relative;
         background-color:orange;
         font-size:12px;
         border-radius:12px;
         cursor:pointer;
         margin:10px 10px;
         color:#f3f3f3;
           &:hover{
           display:flex;
           align-items:center;
           justify-content:center;
           width:100px;
           height:50px;
           position:relative;
           background-color:orangered;
           font-size:12px;
           border-radius:12px;
           cursor:pointer;
           margin:10px 10px;
           color:#f3f3f3;
           box-shadow:2px 2px #c1c1c1;
           } 
         }
         section{
          display:flex;
          width:100%;
          height:150px;
          margin-left:10px;
          position:relative;
          justify-content:center;
          align-items:center;
          
          img{
            width:50%;

          }
         }
    }
  .insert_foto_columna_uno{
    flex-direction:column;
    }
    .insert_foto_columna_dos{
    flex-direction:column;
    }


      



      div{
        flex-direction:row;
      }




    }
    

// login.PHP
    
    .login_wrap{
       
        .login_cab{
          width:400px;  

          position: absolute;
          left:50%;
          top:50%;
          transform: translate(-50%, -50%);
          
          
        }
        
        .login_table {
          position:relative;
          margin-top:20px;
          td{
            padding-top: 10px;
          }
        }

    }


