body{
	height:100%;
	background-color:orangered;
}


.caja{
	position: absolute;
	height: 480px;
	width: 720px;
	background-color:black;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	overflow:hidden;
	img{
		display:flex;
		position:relative;
		height:480px;
		align-text:center;
		justify-content:center;
		align-items:center;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}

}